/*intended for h1's only*/

@font-face {
    font-family: 'caslonblack';
    src: url('/css/caslon-black-webfont.woff2') format('woff2'), url('/css/caslon-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1 {
    font-family: 'caslonblack', 'arial';
    color: darkgreen;
    font-size: 200%;
}

p {
    color: black;
    font-family: 'Open Sans Condensed', 'caslonblack';
    font-size: 20px;
}

h2 {
    border-style: dotted;
}

#boxy {
    height: auto;
    width: auto;
    background-color: aquamarine;
    border: 3px solid black;
    margin: 50px;
    padding: 10px;
    text-align: center;
    position: center;
}

#flowy {
    overflow: scroll;
    margin: 20px;
    height: 300px;
}

#hidey {
    height: 300px;
    overflow: hidden;

}

#page {
    margin: auto;
    border-radius: 100px;
    background-color: burlywood;
    padding: 10%;
    width: 70%;
}

.box {
    height: 10vh;
    width: 31%;
    text-align: center;
    display: inline-block;
    border: solid;
}
#box1{
    background-color: #6281ca;
    border-color: white;

}
#box2{
    background-color: hsla(0, 0%, 0%, 1);
}
#box3{
    background-color: rgba(0,0,225,.5);
}
#text{
    color: rgb(255,255,255);

}
