/*intended for h1's only*/

@font-face {
    font-family: 'caslonblack';
    src: url('/css/caslon-black-webfont.woff2') format('woff2'), url('/css/caslon-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'caslonblack', 'arial';
    color: darkgreen;
    font-size: 200%;
}

p {
    color: blue;
    font-family: fantasy;
}

h2 {
    border-style: dotted;
}

#boxy {
    height: auto;
    width: auto;
    background-color: aquamarine;
    border: 3px solid black;
    margin: 50px;
    padding: 10px;
    text-align: center;
    position: center;
}

#flowy {
    overflow: scroll;
    margin: 50px;
    height: 300px;
}

#hidey {
    height: 300px;
    overflow: hidden;
}

#page {
    margin: auto;
    border-radius: 100px;
    background-color: burlywood;
    padding: 10%;
    width: 1000px;
}
